[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"beautifulsoup4" = "*"
requests = "*"
flask = "*"
pymongo = "*"
pymysql = "*"
pillow = "*"
httpie = "*"
flask-pymongo = "*"
aiohttp = "*"
tornado = "*"
lxml = "*"
selenium = "*"
flask-login = "*"
sqlalchemy-migrate = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-httpauth = "*"
itsdangerous = "*"
redis = "*"

[requires]
python_version = "3.6"
