<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Page Not Foune</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" href="../static/css/bootstrap.css" />
        <link rel="stylesheet" href="../static/css/404.css" />
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.js"></script>
    </head>
    <div class="container container-404">
        <div class="data-404">
            <p>
                <span>4</span>
                <span>0</span>
                <span>4</span>
            </p>
        </div>
        <div class="content-404">
            <p>页面不见啦,  o(￣ヘ￣o＃), <a href="/">点我回家</a<</P>
        </div>
    </div>
</html>
