<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}SUT ACM{% endblock %}</title>
        <!--引入css文件-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" href="../static/css/bootstrap.css" />
        <link rel="stylesheet" href="../static/css/style.css" />
        <link rel="stylesheet" href="../static/css/iconfont.css" />
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/vue.min.js"></script>
        <script src="../static/js/bootstrap.js"></script>
        <script src="../static/js/common.js"></script>
    </head>
    <body>
        <nav id="navbar-example" class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#home" class="navbar-brand nav-title"><img id="sut-logo" src="../static/images/sut.jpg" style="display: inline-block; width: 30px; height: 30px; border: solid 2px black; border-radius: 50%;" alt="SUT logo" />SutAcmDRA</a>
                </div>
                <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <form class="navbar-form " role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="search_user" placeholder="学号, 避免OJ重名问题" />
                                    <input type="hidden" class="btn btn-default" value="搜索" />
                                </div>
                            </form>
                        </li>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About Me(本站站长, 哼)</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--增加判断, 是否登录, 更改显示-->
                        {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/static/{{ current_user.photo_path }}" alt="User Avatar" style="width: 30px; height: 30px; border: solie 2px black; border-radius: 50%;" />
                                <b class="cart"></b>
                            </a>
                            <ul id="mouse-hover" class="dropdown-menu">
                                <li class="dropdown-item"><a><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ current_user.hdoj_username }}</a></li>
                                <li class="dropdown-item"><a href="#"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;Your Profile</a></li>
                                <li class="dropdown-item"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;登出</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="cative"><a href="#"><span class="glyphicon glyphicon-user"></span>注册</a></li>
                        <li class="cative"><a href="/login"><span class="glyphicon glyphicon-log-in"></span>登录</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
	    </nav>
        <div id="app" class="container base-container">
            <div >
                <!--用于在那乱转, 提示用户用pc端访问-->
                <!--现在也不击倒写啥-->
            </div>
            {% block headline %}
            <div class="row">
                <h2 class="col-md-8 col-md-offset-4">Sut Acm 训练记录 {{ user.hdoj_username }}</h2>
            </div>
            {% endblock %}
            {% block content %}
            <div>
                <table class="table table-bordered">
                    <caption>以<strong><a href="http://acm.hdu.edu.cn">HDOJ</a></strong>为主</caption>
                    <tr class="btn-primary">
                        <th class="text-center">用户名</th>
                        <th class="text-center">昵称</th>
                        <th class="text-center">HDOJ 总数</th>
                        <th class="text-center">五天分布</th>
                    </tr>
                    <!--先添加一组试试-->
                    <!--for user in users.items(), 还有当前用户凸显-->
                    <tr>
                        <td class="text-center"><a href="/homepage" alt="个人主页">935809546</a></td>
                        <td class="text-center">Coco</td>
                        <td class="text-center">10</td>
                        <td class="text-center content-td">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width=200 height=20>
                                <g transform="translate(0, 0)">
                                    <rect x="20" y="0" width="10" height="10" style="fill:#197013;">
                                        <title>2018-07-12 solve 10</title>
                                    </rect>
                                </g>
                                <g transform="translate(13, 0)">
                                    <rect x="19" y="0" width="10" height="10" style="fill:blue;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9">
                                    <title>2018-07-13 solve 9</title>
                                    </rect>
                                </g>
                            </svg>
                        </td>
                    </tr>
            </table>
            </div>
            {% endblock %}
        </div>
        <div class="footer">
            <a href="https://github.com/stevenshuang"><i class="iconfont icon-Github">&#xea0a;</i>Coco</a>
        </div>
    </body>
    <script>
        new Vue({
                el: "#app",
                data: {
                    id: "",
                    nick_name: "",
                    //还要请求一个全员的做题信息, 就是用户信息, 请求5天的, 要分页显示
                    users: [],
                },
                delimiters: ['{[', ']}'],
                mounted: function() {
                    var self = this;
                    $.ajax({
                           type: "GET",
                           url: coco+"/data",
                           success: function(data) {
                               console.log(JSON.stringify(data))
                               self.id = data.id;
                               self.nick_name = data.nick_name;
                               console.log(JSON.stringify(self.id+self.nick_name));
                           }.bind(this),
                           error: function(err) {
                               console.log(JSON.stringify(err));
                           }
                    });
                }
            });
    </script>
</html>
