{% extends 'base.html' %}

<title>{% block title %} 个人主页 {% endblock %}</title>

<!--想要github的形式-->
{% block headline %}
<div class="row">
    <h2 class="col-md-12">个人主页</h2>
</div>
<br /><br /><br />

{% endblock %}

{% block content %}
<!--包含在app中-->
<div class="row">
    <div class="col-md-4">
        <div>
            <img src="/static/{{ current_user.photo_path }}" style="width: 200px; height: 200px; border: solid 2px #D3D3D3;" />
        </div>
        <div>
            <h2>{{ current_user.student_id }}</h2>
            <p>{{ current_user.hdoj_username }}</p>
            <hr style="border: solid 1px #D3D3D3; width: 50%; margin-left:0;" />
            <p>骚年留下QQ</p>
        </div>
    </div>
    <div class="col-md-8" style="border: solid 2px #D3D3D3;margin">
        <p>等面试回来用echarts做一个图表吧.统计近一个月做题情况</P>
        <p>那么, 本项目在面试之前就到此结束, 我去抓信息</p>
        <p>期待面试, 加油吧</p>
        <p>2018-07-23</p>
    </div>
</div>
{% endblock %}
<script>
    // 请求用户的数据
    new Vue({
            el: "#app",
            data: {
                nick_name: "",
                hdoj_username: "",
                date_ps: "",    // 做题的分布数据

            },
            delimiters: ['{[', ']}'],
            mounted: function(){
                var self = this;
                $.ajax({
                       type: "get",
                       url: coco+"/api/v1/user",
                       success: function(data){
                            self.nick_name = data.user_info.nick_name;
                            self.hdoj_username = data.user_info.user;
                            self.date_ps = data.user_info.date_ps;
                       },
                       error: function(err){
                            console.log(JSON.stringify(err));
                       }
                });
            },
        });
</script>
